*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lora', serif;
}

.header{ 
    background: linear-gradient(rgba(4,9,30,0.7), rgba(4, 9, 30, 0.7)), url(../images/background.jpg) no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-header{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-header h1{
    font-size: 62px;
}

.text-header p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
}

#discover-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 24px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

#discover-btn:hover{
    border: 1px solid #a9957b;
    background: #a9957b;
    transition: 1s;
}

.main{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.main .card .left img{
    height: 500px;
    width: 500px;
    margin-top: 5px;
    border-radius: 5px;
}

.main .content .card .right{
    flex: 0 0 50%;
    padding: 20px;
    color: white;
}

@media(max-width: 1047px){
    
}