*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 2;
}

#logo{
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
    
nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: .5s;
}

.nav-bar{
    flex: 1;
    text-align: right;
}

.nav-bar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    transition: .4s;
    border-radius: 12px;
    border: 1px solid transparent;
}

.nav-bar ul li a{
    text-decoration: none;
    font-family: 'Lora', serif;
    color: white;
    position: relative;
    overflow: hidden;
}

.nav-bar a:after{
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #ccac7c;
    height: 2px;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.nav-bar a:hover:after, .nav-bar a:focus:after, .nav-bar a:active:after{
    left: 0;
    right: auto;
    width: 100%;
}

nav input[type=checkbox], nav .fa{
    display: none;
}

@media(max-width: 800px){
    .nav-bar{
        position: absolute;
        background: black;
        height: 100vh;
        width: 250;
        top: 0;
        right: -250px;
        text-align: left;
        transition: .5s;
    }
    .open .nav-bar{
        right: 0;
    }
    .menu{
        width: 30px;
        height: 30px;
        margin: 8px -3.5%;
        cursor: pointer;
    }
    .menu div{
        width: 20px;
        height: 20px;
        margin: 5px;
        position: relative;
    }
    .menu span{
        background: white;
        width: 100%;
        height: 2px;
        border-radius: 5px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s;
    }
    .menu .line-1{
        transform: translate(-50%, -7px);
    }
    .menu .line-2{
        transform: translate(-50%, 0);
    }
    .menu .line-3{
        transform: translate(-50%, 7px);
    }
    .open .line-1{
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .open .line-2{
        width: 0;
    }
    .open .line-3{
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .nav-bar ul li{
        display: block;
        text-align: right;
        border-bottom: 1px solid #1c1c1c;
        border-radius: 0;
        padding: 12px;
    }
    .nav-bar ul{
        margin-top: 70px;
        padding: 20px;
    }
    .nav-bar a:after{
        height: 0;
    }
    #logo{
        margin: auto;
        text-align: center;
    }
}