* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: relative;
    z-index: 2;
}

body {
    font-family: 'Lora', serif;
}

.title {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1203%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(15%2c 15%2c 15%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c508.117C92.752%2c496.591%2c162.033%2c422.123%2c230.161%2c358.137C288.183%2c303.642%2c322.024%2c233.865%2c364.009%2c166.237C412.869%2c87.535%2c508.036%2c20.521%2c496.849%2c-71.436C485.69%2c-163.162%2c372.39%2c-200.423%2c311%2c-269.483C250.642%2c-337.382%2c222.949%2c-438.798%2c139.133%2c-473.844C53.29%2c-509.738%2c-44.194%2c-480.754%2c-133.729%2c-455.439C-224.013%2c-429.912%2c-329.381%2c-407.803%2c-378.081%2c-327.609C-426.355%2c-248.117%2c-380.543%2c-147.203%2c-377.359%2c-54.256C-374.799%2c20.484%2c-377.691%2c92.013%2c-361.207%2c164.958C-340.875%2c254.927%2c-336.985%2c356.776%2c-270.114%2c420.306C-200.056%2c486.864%2c-95.896%2c520.034%2c0%2c508.117' fill='%230b0b0b'%3e%3c/path%3e%3cpath d='M1440 980.627C1517.006 988.21 1571.337 907.115 1633.237 860.683 1690.421 817.788 1755.797 782.717 1788.547 719.1759999999999 1822.062 654.151 1823.81 578.673 1816.0810000000001 505.928 1808.128 431.076 1786.242 358.945 1743.674 296.865 1697.526 229.565 1644.294 151.964 1563.875 138.12 1483.777 124.332 1417.19 195.848 1342.4569999999999 227.798 1278.019 255.34699999999998 1207.477 266.624 1154.906 312.96500000000003 1097.513 363.55600000000004 1048.6480000000001 426.655 1032.118 501.355 1014.977 578.814 1015.0799999999999 668.668 1062.045 732.606 1107.825 794.931 1205.112 782.462 1269.766 824.889 1335.395 867.956 1361.88 972.934 1440 980.627' fill='%23141414'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1203'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e") no-repeat;
    background-size: 100% 100%;
    color: white;
    width: 100%;
    position: relative;
    padding: 200px;
    text-align: center;
    vertical-align: middle;
}

.title h1 {
    font-size: 62px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 600px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.pcontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 70px 0;
}

.product-card {
    z-index: 1;
    background-color: rgba(255, 255, 255, .8);
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    border-radius: 10px;
}

.product-card img {
    z-index: 1;
    position: absolute;
    max-width: 220px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-card .name, .product-card .price {
    z-index: 2;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 130px;
    font-size: 20px;
}

.product-card .price {
    bottom: 80px;
    font-size: 30px;
    font-weight: 300;
}

.product-card .popup-btn {
    z-index: 2;
    color: white;
    background-color: #ccac7c;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.product .popup-view {
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    background-color: rgba(100, 100, 100, .7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.product .popup-view.poped {
    opacity: 1;
    visibility: visible;
}

.product .popup-card {
    position: relative;
    display: flex;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.product .popup-card .product-img {
    z-index: 2;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    transform: translateY(25px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product .popup-card .product-img img {
    z-index: 2;
    position: relative;
    width: 350px;
    left: 0px;
}

.product .popup-card .fa-times {
    z-index: 3;
    color: #555;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.product .popup-card .info {
    z-index: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
}

.product .popup-card .info h2 {
    font-size: 40px;
    line-height: 30px;
    margin: 10px;
}

.product .popup-card .info h2 span {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product .popup-card .info p {
    font-size: 15px;
    margin: 10px;
}

.product .popup-card .info .price {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

.product .popup-card .info .add-cart-btn {
    color: white;
    background-color: #ccac7c;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 135px auto;
    padding: 10px 50px;
    border-radius: 20px;
    transition: .4s;
}

.product .popup-card .info .add-cart-btn:hover {
    background-color: #ccac7c;
    box-shadow: 0px 15px 20px rgba(204, 172, 124, .4);
    color: #fff;
    transform: translateY(-7px);
}

@media(max-width: 900px) {
    .product .popup-card {
        flex-direction: column;
        width: 550px;
        height: auto;
    }
    .product .popup-card .product-img {
        z-index: 3;
        width: 100%;
        height: 300px;
        transform: translateY(0);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    .product .popup-card .product-img img {
        left: initial;
        padding: 25px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .product .popup-card .info {
        width: 100%;
        height: auto;
        padding: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .product .popup-card .info h2 {
        margin: 20px 5px 5px 5px;
        font-size: 25px;
    }
    .product .popup-card h2 span {
        font-size: 10px;
    }
    .product .popup-card p {
        margin: 5px;
        font-size: 13px;
    }
    .product .popup-card .info .price {
        margin: 5px;
        font-size: 30px;
    }
    .product .popup-card .info .add-cart-btn {
        margin: 5px auto;
        padding: 5px 40px;
    }
    .product .popup-card .fa-times {
        z-index: 4;
    }
}