* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: relative;
    z-index: 2;
}

body {
    font-family: 'Lora', serif;
}

.title {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asvgjs%3D%22http%3A%2F%2Fsvgjs.com%2Fsvgjs%22%20width%3D%221440%22%20height%3D%22560%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%201440%20560%22%3E%0A%20%20%20%20%3Cg%20mask%3D%22url(%26quot%3B%23SvgjsMask1034%26quot%3B)%22%20fill%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%3Crect%20width%3D%221440%22%20height%3D%22560%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22rgba(8%2C%208%2C%208%2C%201)%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%2C490.725C88.738%2C466.625%2C121.915%2C359.302%2C195.316%2C303.918C260.815%2C254.496%2C352.588%2C248.034%2C405.149%2C185.025C465.915%2C112.18%2C519.105%2C21.097%2C510.008%2C-73.328C500.828%2C-168.613%2C430.929%2C-248.368%2C357.481%2C-309.759C290.516%2C-365.731%2C201.991%2C-378.193%2C117.791%2C-401.158C35.323%2C-423.651%2C-45.447%2C-455.322%2C-129.993%2C-442.717C-221.956%2C-429.006%2C-313.659%2C-394.686%2C-377.706%2C-327.284C-443.062%2C-258.504%2C-479.376%2C-164.401%2C-484.481%2C-69.658C-489.364%2C20.974%2C-439.845%2C101.163%2C-405.313%2C185.1C-369.299%2C272.639%2C-353.492%2C375.451%2C-277.913%2C432.441C-200.775%2C490.607%2C-93.233%2C516.046%2C0%2C490.725%22%20fill%3D%22%23060606%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M1440%20997.947C1519.557%20980.5360000000001%201556.068%20890.5799999999999%201620.161%20840.335%201676.369%20796.2719999999999%201748.814%20777.318%201793.008%20721.213%201845.011%20655.194%201911.329%20576.818%201892.194%20494.984%201872.843%20412.227%201767.092%20387.682%201702.19%20332.81100000000004%201649.0430000000001%20287.878%201606.377%20234.86599999999999%201545.224%20201.64100000000002%201471.052%20161.34199999999998%201394.087%20106.08600000000001%201310.862%20120.19600000000003%201226.107%20134.565%201160.608%20204.767%201111.328%20275.204%201064.961%20341.477%201049.91%20422.33799999999997%201043.088%20502.933%201036.585%20579.767%201046.429%20655.213%201073.037%20727.586%201101.351%20804.5989999999999%201134.809%20883.425%201200.869%20932.095%201268.808%20982.149%201357.564%201015.988%201440%20997.947%22%20fill%3D%22%230a0a0a%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22SvgjsMask1034%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20width%3D%221440%22%20height%3D%22560%22%20fill%3D%22%23ffffff%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%3C%2Fsvg%3E") no-repeat;
    background-size: 100% 100%;
    color: white;
    width: 100%;
    position: relative;
    padding: 200px;
    text-align: center;
}

.title h1 {
    font-size: 62px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.pcontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 70px 0;
}

.product-card {
    z-index: 1;
    background-color: rgba(255, 255, 255, .8);
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    border-radius: 10px;
}

.product-card img {
    z-index: 1;
    position: absolute;
    max-width: 220px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-card .name, .product-card .price {
    z-index: 2;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 130px;
    font-size: 20px;
}

.product-card .price {
    bottom: 80px;
    font-size: 30px;
    font-weight: 300;
}

.product-card .popup-btn {
    z-index: 2;
    color: white;
    background-color: #ccac7c;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.product .popup-view {
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    background-color: rgba(100, 100, 100, .7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.product .popup-view.poped {
    opacity: 1;
    visibility: visible;
}

.product .popup-card {
    position: relative;
    display: flex;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.product .popup-card .product-img {
    z-index: 2;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    transform: translateY(25px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product .popup-card .product-img img {
    z-index: 2;
    position: relative;
    width: 350px;
    left: 0px;
}

.product .popup-card .fa-times {
    z-index: 3;
    color: #555;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.product .popup-card .info {
    z-index: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
}

.product .popup-card .info h2 {
    font-size: 40px;
    line-height: 30px;
    margin: 10px;
}

.product .popup-card .info h2 span {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product .popup-card .info p {
    font-size: 15px;
    margin: 10px;
}

.product .popup-card .info .price {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

.product .popup-card .info .add-cart-btn {
    color: white;
    background-color: #ccac7c;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 135px auto;
    padding: 10px 50px;
    border-radius: 20px;
    transition: .4s;
}

.product .popup-card .info .add-cart-btn:hover {
    background-color: #ccac7c;
    box-shadow: 0px 15px 20px rgba(204, 172, 124, .4);
    color: #fff;
    transform: translateY(-7px);
}

@media(max-width: 900px) {
    .product .popup-card {
        flex-direction: column;
        width: 550px;
        height: auto;
    }
    .product .popup-card .product-img {
        z-index: 3;
        width: 100%;
        height: 300px;
        transform: translateY(0);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    .product .popup-card .product-img img {
        left: initial;
        padding: 25px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .product .popup-card .info {
        width: 100%;
        height: auto;
        padding: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .product .popup-card .info h2 {
        margin: 20px 5px 5px 5px;
        font-size: 25px;
    }
    .product .popup-card h2 span {
        font-size: 10px;
    }
    .product .popup-card p {
        margin: 5px;
        font-size: 13px;
    }
    .product .popup-card .info .price {
        margin: 5px;
        font-size: 30px;
    }
    .product .popup-card .info .add-cart-btn {
        margin: 5px auto;
        padding: 5px 40px;
    }
    .product .popup-card .fa-times {
        z-index: 4;
    }
}