* {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(rgba(4, 9, 30, .7), rgba(4, 9, 30, .7)), url(../images/background.jpg) no-repeat center; 
    -webkit-background-size: cover;
     -moz-background-size: cover;
      -o-background-size: cover;
    background-size: cover;
    max-height: 100vh;
    font-family: 'Lora', serif;
    color: white;
}

div{
    width: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 20px;
    margin: 6% auto 0;
    text-align: center;
}

h1{
    margin-bottom: 30px;
    font-weight: 300;
}

form input{
    border-radius: 17px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: none;
    outline: none;
}

form input[type=submit]{
    margin: 40px 0;
    width: 60%;
    cursor: pointer;
    transition: all .3s ease 0s;
}

form input[type=submit]:hover {
    box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.2);
    transform: translateY(-7px);
}

p a, p a:visited{
    text-decoration: none;
    color: #ccac7c;
}

p a:hover{
    font-weight: bold;
}