@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}

body {
  background: #141314;
  color: #e6e1e3;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

span.bold {
  font-weight: 500;
}
